* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  background: url(https://cn.pling.com/img/5/e/7/8/e6e0345028b3680aa9111641396473420f5e.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: ". header ."
                       ". main ."
                       ". . ."
  grid-auto-flow: column;
}

header{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; 
}

main{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; 
}

input[name=user-input]{
   display: inline-block;
   position: absolute;
   margin-top: 15px;
   margin-left: 5px;
   padding-top: 2px;
   width: 20px;
   background: rgb(56,56,56);
   border:  none;
   color: white;
   clear: both;
   outline: none;
  }  

/*text editor styling*/
.console-start{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: block;
  position: relative;
  /*width: 50%;*/
  height: 30%;
  /*margin: auto;*/
  border-radius: 10px;
  background: rgb(56,56,56);
  box-shadow: rgba(235, 230, 255, 0.8) 0px 0px 200px;
  clear: both;
  /*overflow: hidden;*/
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  }
.console{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; 
  position: relative;
  border-radius: 10px;
  background: rgb(56,56,56);
  box-shadow: rgba(235, 230, 255, 0.8) 0px 0px 200px;
  clear: both;
  /*overflow: hidden;*/
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  }
  .console-defaults{
    /* display: inline; */
    /* align-items: flex-end; */
    margin: 0;
    color: #f0f0f0;
    font-size: 110%;
    font-family: "Consolas", "Courier New", "Courier";
    clear: both;
    transform: translateY(-50%);
}

.console-dollar-sign{
  display: inline-block;
  color: white;
}
 .title-bar {
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid; 
}
#questions, #user-feedback, .answerChoice{
  position: relative;
  top: 16px;
  color: #f0f0f0;
  font-size: 110%;
  font-family: "Consolas", "Courier New", "Courier";
  text-align: left;
  transform: translateY(-50%);
}

#questions{
    display: inline;
    margin: 0 auto;
    /*overflow: hidden;*/
}
#user-feedback{
    display: block;
    margin-top: 8px;
}

.answers{  
  grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
   background: rgb(56,56,56);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
  clear: both;
   -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
 }
 .answerChoice1, .answerChoice2, .answerChoice3, .answerChoice4, .answerChoice5{
   grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
   display: block;
  border-radius: 10px;
   background: rgb(56,56,56);
   box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
 color: white;
  clear: both;
  /*overflow: hidden;*/
 }

.user-answer, .answer-feedback{
  color: white;
}
.answer-feedback{
  background: aquamarine;
  color: black;
}

.restart-button{
  color: white;
}
/*type-writer animation media queries*/
@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
  50% {
    /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
    transform: translatey(-15px);
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    transform: translatey(0px);
  }
}
